# ---------------- ALB ----------------

  - name: Create Application Load Balancer
    community.aws.elb_application_lb:
      name: my-api-alb
      subnets: "{{ public_subnet_ids }}"
      security_groups:
        - "{{ alb_sg }}"
      scheme: internet-facing
      state: present
      region: "{{ region }}"
    register: alb

  # ---------------- Target Group ----------------

  - name: Create Target Group
    community.aws.elb_target_group:
      name: my-api-tg
      protocol: HTTP
      port: "{{ container_port }}"
      vpc_id: "{{ vpc_id }}"
      target_type: ip
      health_check_path: /
      state: present
      region: "{{ region }}"
    register: tg

  # ---------------- Listener ----------------

  - name: Create ALB Listener
    community.aws.elb_application_lb_listener:
      load_balancer_arn: "{{ alb.load_balancer_arn }}"
      protocol: HTTP
      port: 80
      default_actions:
        - Type: forward
          TargetGroupArn: "{{ tg.target_group_arn }}"
      state: present
      region: "{{ region }}"
